<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
	<link href="http://github.com/stylesheets/bundle_common.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="http://github.com/stylesheets/bundle_github.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="http://pages.github.com/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" /> 
</head>
<body>
<div id="main">
  <div id="header" class="basic" style="margin-bottom:20px">

	<div class="site">
	  <div class="logo boring">
		<img class="openlayersbannerimg" src="http://www.openlayers.org/images/OpenLayers.trac.png" style="height: 44px; width: 49px; border: 0px none;" alt="OpenLayers">
	  </div>
	  <div class="topsearch">
		<ul class="nav logged_out" style="margin-top:20px">
		  <li><a href="http://github.com/jozefizso/openlayers" title="OpenLayers - Visual Studio IntelliSense">Back to GitHub</a></li>
		</ul>
	  </div>
	</div>
  </div>

  <div id="content" class="site">

	{{ content }}

  </div>

  <div class="push"></div>
</div>

<div id="footer">
  <div class="site">

	<div class="info">
	  <div class="links">
		<a href="http://openlayers.org/">OpenLayers</a> |
		<a href="http://code.google.com/p/jsdoc-toolkit/">JsDoc Toolkit</a> |
		<a href="http://izsak.net">Jozef Izso</a>
	  </div>
	  <div class="company">
		Jozef Izso. Page is using
		the <a href="http://pages.github.com/">GitHub Pages</a> style.
	  </div>
	</div>
  </div>
</div>
</body>
</html>
